.box{
    width: 100px;
    height: 10px;
    margin: 0px auto;
}
.red{
    background: red;
}
.blue{
    background: blue;
}
.yellow{
    background: yellow;
}
.Fuentes {

    color: white;

}



.pru {


    background: white;


}

a {
    color: red;
    text-decoration: none;
}

p.bolder {

    font-weight: 200;

}

.pago {
    color: red;
    background: white;

}

.text-center {
    text-align: center;
    margin: 0px auto;
}
.nav a{
    margin-right: 20px;
}
.nav a:last-child{
    margin: 0px;
}
@media(min-width: 400px) {
    .nav a{
        margin-right: 50px;
    }
}
.estilo{
    
    background:white;
    color: white;

}

    .rojo{
            color:red;
        }

      .estilo:hover{

    background:silver;
    
}
 .s2{
    color:red;
    

    }




    



        .td{
    background:blue;
    color:white; 

 }
 .hs{

    color: blue;
 }
 .YE{

color: yellow;

 }

.negro{

    background:black;
}

.white{

    color:white;
}

.ylw{

    background:yellow;
}
